
<footer class="mt-5">
    <div class="container">
        <div class="row edit-footer">
            <div class="col-md-3">
                <p class="name">Liên hệ</p>
                <p>
                    <strong>Địa chỉ:</strong> 1073/23 Cách Mạng Tháng 8, P.7, Q.Tân Bình, TP.HCM
                </p>
                <p>
                    <strong>E-mail:</strong> info@themona.global
                </p>
            </div>
            <div class="col-md-3">
                <p class="name">Liên kết</p>
                <p>Giới thiệu</p>
                <p>FAQs</p>
                <p>Our Producers</p>
            </div>
            <div class="col-md-3">
                <p class="name">Dịch vụ khách hàng</p>
                <p>Track Your Order</p>
                <p>Liên hệ</p>
                <p>Term Of Use</p>
            </div>
            <div class="col-md-3">
                <p class="name">Danh mục</p>
                <p>Statement Rings</p>
                <p>Necklaces & Pendants</p>
                <p>Earrings Favorites</p>
            </div>
        </div>
    </div>
</footer>