
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
            <span class="navbar-text right-center">
                    <a href=""><i class="fa-solid fa-crown"></i> Hot</a>
                    <a href=""><i class="fa-solid fa-percent"></i> Sale</a> |
                    <a href="" style="padding-right: 0px !important;">Sản phẩm đã xem <i
                            class="fa-solid fa-angle-down"></i></a>
                </span>
        </div>
    </div>
</nav>